.nav__logo {
  color: $color-logo;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  &--web-color {
    color: $color-accent;
  }
  &--color {
    color: $color-main-bg;
  }
}
.spam-container__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.second-col__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
.second-col__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.second-col__item {
  display: flex;
  &:not(:last-child) {
    margin-right: 10px;
  }
  border-radius: 44px;
  background: rgba(255, 255, 255, 0.1);
  .icon {
    width: 20px;
    height: 20px;
    &__prop {
      fill: #fff;
    }
  }
  .second-col:last-child {
    margin-right: 0;
  }
}
.footer{
  .address {
    &__list {
      display: flex;
      align-items: center;
      flex-direction: column;
      // margin-bottom: 60px;
    }
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $color-main-bg;
    // margin-top: 20px;
    .address__item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    .address__link {
      letter-spacing: 0.03em;
      color: $color-address;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        color: $color-main-bg;
      }
    }
  }
  background-color: $color-footer;

}

.spam-container__title {
  display: inline-flex;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.button__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer{
  .button {
    &:hover,
    &:focus {
      background-color: $color-main-bg;
      color: $color-accent;
    }
    &:hover .icon__prop,
    &:focus .icon__prop {
      fill: $color-accent;
    }
    display: flex;
  
    position: relative;
  
    align-items: center;
    justify-content: center;
    border: 0px;
    padding: 0px;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: $color-accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    // margin-left: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-main-bg;
    border-color: transparent;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.icon {
  fill: $color-main-bg;
  width: 24px;
  height: 24px;
  // margin-left: 10px;
}

.form__input {
  width: 100%;

  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}
.button__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
}
@media (max-width: 479px) {
  .footer {
    .spam-container{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    
    padding: 60px 0;
    .container--flex {
      padding: 60px 15px;
      
    .first-col {
      flex-direction: column;
      display: flex;
      // justify-content: center;
      align-items: center;
      
    }
      .second-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 767px) {
          margin: 60px 0;
        }
        &__list {
          display: flex;
        }
      }
      .second-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
      }
    }
    

    .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__label {
        width: 100%;
        
        margin-bottom: 20px;
      }

      
      
    }
  }
}
@media (min-width: 480px) {
  .footer {
    
    .spam-container{
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    padding: 60px 0;
    .first-col {
      flex-direction: column;
      display: flex;
      // justify-content: center;
      align-items: center;
      
    }

    background-color: $color-footer;
    .container--flex {

      .second-col {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 767px) {
          margin: 60px 0;
        }
        &__list {
          display: flex;
        }
      }
    }

    .form {
      width: 450px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__label {
        width: 100%;
        margin-bottom: 20px;
      }
      

     
      
      
    }
  }
}
@media (min-width: 768px) {
  .footer {
    
    .first-col{
      @media (min-width: 768px) {
        margin-right: 165px;
      }
      .form{
          margin-left: auto;
          margin-right: auto;
          // margin-left: auto;
          // display: flex;
          flex-direction: column;
          /* justify-content: center; */
          align-items: center;
        
      }
    }
    .container--flex {
      .second-col{
        
        // @media (min-width: 768px) {
          align-items: baseline;
        // }
      }
      .container__for-two-col {
        align-items: baseline;
          display: flex;
          justify-content: center;
          margin-bottom: 60px;
      }

    }
  

    
  }
}
@media (min-width: 1200px) {
  .footer {

    .spam-container{
      display: block;
      margin-left: auto;
    }
    .first-col {
      margin-right: 0;
      .adress__list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        // margin-bottom: 60px;
      }
    }
    .container--flex {
      display: flex;
      align-items: baseline;
      
    .container__for-two-col {
      margin-bottom: 0;
    }
    }

    .second-col {
      margin-left: 70px;
    }
    .form {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      &__label {
          width: 358px;
        margin-bottom: 0;
        margin-right: 12px;
      
    }
  }
}
}