$color-accent: #2196f3;
$color-logo: #000000;
$color-all-text: #212121;
$color-address: #757575;
$color-little-text: #757575;
$color-main-bg: #ffffff;
$color-footer: #2f303a;
$color-on-dark-bg: #ffffff;
$color-what-we-do-sect: #f5f4fa;
$color-icons-our-team: #afb1b8;
